
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Source+Sans+Pro&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: black;
  font-family: 'Rubik', sans-serif;
}
header {
  padding: 100px;
  text-align: center;
}
header > h1 {
  color:darkblue;

}
main {
  padding: 100px;

}
.continued{
  display: flex;
  width: 20%;
  height: 40px;
  background-color: blueviolet;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.continued::after{
  content: "To be continued....";
}
.active{
  display: flex;
  width: 20%;
  height: 40px;
  color: blueviolet;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.active::after{
  content: "Yoxdu hələki";
}
footer {
  display: flex;
  justify-content: space-around;
}

@media(min-width: 450px),(max-width:650px) {
  main {
    padding:0;
    margin: 0 ;
  }
  footer>img ,
  footer>div>img{
    height: 150px;
    width: 250px; 
    display: none;
  }
  .author{
    padding-top: 100px;
    font-size: 24px;
  }
  .continued{
    width: 80%;
    margin: 0 auto;
  }
  .active{
    width: 80%;
    margin: 0 auto;
  }
}
.closed{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
